{% extends 'base.html' %}

{% block title %}
Iniciar sesión | Jornada Electoral: Cozumel 2013
{% endblock %}


{% block content %}
<div class="container">

    {% if form.errors %}
    <div class="alert alert-error">
        <i class="icon-warning-sign"></i> El usuario o contraseña son incorrectos.
    </div>
    {% endif %}

    <div class="box">
        <!-- Box Head -->
        <div class="box-head">
            <h2>Iniciar sesión</h2>
        </div>

        {% if user.is_authenticated %}
        <div class="alert alert-info">
            <i class="icon-info-sign"> Usuario ya autentificado.</i>
        </div>

        {% else %}
        <form action="." method="POST"> {% csrf_token %}
            <div class="form">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input class="input-xlarge" type="text" name="username" id="username" placeholder="Usuario" required>
                </div>
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input class="input-xlarge" type="password" name="password" id="password" placeholder="Contraseña" required>
                    <button class="btn btn-success" type="submit">Entrar <i class="icon-signin"></i></button>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next|escape }}"/>
        </form>
        {% endif %}
    </div>

</div>
{% endblock %}
