html {
    cursor: default;
}

body {
    margin-top: 100px;
}

a {
    text-decoration: none!important;
}

#embeded-tweets {
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -webkit-column-fill: inherit;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -moz-column-fill: inherit;
    column-count: 2;
    column-gap: 20px;
    column-fill: inherit;
    margin: 0 auto;
    width: 1040px;
}

#embeded-tweets li {
    display: inline-block;
    opacity: 0;
    width: 500px;
}

.disclaimer {
    color: #f00;
    font-weight: bold;
}

.new-tweet {
    width: 90%;
}

footer {
    font-size: 90%;
    text-align: center;
}

body .modal {
    margin-left: -375px;
    width: 750px;
}