html {
    cursor: default;
}

body {
    margin-top: 100px;
}

a {
    text-decoration: none!important;
}

#embeded-tweets {
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -webkit-column-fill: inherit;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -moz-column-fill: inherit;
    column-count: 2;
    column-gap: 20px;
    column-fill: inherit;
    width: 1040px;
    margin: 0 auto;
}

#embeded-tweets li {
    display: inline-block;
    width: 500px;
    opacity: 0;
}

.love {
    color: #f00;
}

.new-tweet {
    width: 90%;
}

footer {
    text-align: center;
    font-size: 90%;
}