{% extends 'base.html' %}

{% block title %}
Agregar nuevo tweet | Jornada Electoral: Cozumel 2013
{% endblock %}

{% block content %}

<div class="container">

    {% if success %}
    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> You successfully read this important alert message.
    </div>
    {% endif %}

    <form action="/new" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Agregar nuevo tweet</legend>

            <div class="input-append new-tweet">
                <input type="text" class="input-block-level" name="url" id="url" placeholder="URL">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>

        </fieldset>
    </form>
</div>
{% endblock %}