{% extends 'base.html' %}

{% block title %}
Agregar nuevo tweet | Jornada Electoral: Cozumel 2013
{% endblock %}

{% block content %}

<div class="container">

    {% if success %}
    <div class="alert alert-{{alert}}">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong><i class="icon-info-sign"></i> {{ success }}</strong>
    </div>
    {% endif %}

    <form action="/new" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Agregar tweet</legend>

            <div class="input-append new-tweet">
                <input class="input-block-level" type="text" name="url" id="url" placeholder="URL" required>
                <button type="submit" class="btn btn-primary"><strong>Guardar <i class="icon-edit"></i></strong></button>
            </div>

        </fieldset>
    </form>
</div>

{% endblock %}